.banner	{
	background-image: url(../../image/como.jpeg);
	color: #C4C4C4;
	padding: 200px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1	{
	color: black;
	text-align: center;
	padding: 10px;
}

.navlist {
	position: absolute;
	left: 130px;
	top: 50px;
}

.navlist li {
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 100px;
}

.navlist li a  {
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 5 5px;
}

body {
	background: #FFFFFF;
	color: rgb(50, 50, 50); 
	font-family: 'Lora', serif;
	font-size: 12px;
	font-weight: lighter;